/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 5px;
  width: 100%; 
  background-attachment: fixed; 
  background-color: #2f6690;
}

h5{
  font-size: medium;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: small;
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #242830;
}

.footer a {
  color: #9199a1;
  
}

.footer a:hover {
  color: #e5e5e5;
}


/* Custom page CSS
-------------------------------------------------- */

#content {
  margin-top: 100px;
  margin-bottom: 50px;
  
}

.form-signin {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #edf2f4;
  border: none;
  border-radius: 5px;
}

.form-profile {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-bottom: 80px;
  background-color: #edf2f4;
  border: none;
  border-radius: 5px;
}

.nav-link{
  color: #9199a1;
  font-size: small;
}

.nav-link:hover{
  color: #ffffff;
}

.dropdown-item{
  font-size: small;
}

.text-below-form{
  text-align: center;
  color: #000;
}

.sign-in-up{
  color: #ffffff !important;
  opacity: 0.8;
}

.sign-in-up:hover{
  color: #ffffff !important;
  opacity: 1;
}

.span-with-margin {
  margin-right: 5px;
}

.link-without-underline {
  text-decoration: none !important;
  font-size: x-large;
  color: #457b9d;
}

.post {
  max-width: 800px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.f6 {
  font-size: 12px !important;
}

.text-grey {
  color: #9199a1 !important;
  font-size: small;
}

.text-sm-grey {
  color: #9199a1;
  font-size: x-small;
}

.text-black{
  color: #293241;
  font-size: small;
}

.text-sm-black{
  color: #293241;
  font-size: x-small;
}

.text-blue{
  color: #118ab2;
  font-size: small;
}

a {
  color: #9199a1;
  opacity: 0.9;
}

a:hover {
  text-decoration: none;
  transition: 1s;
}

.bg-inverse{
  background-color: #242830 ;
} 

.badge-info {
  background-color: #738290;
}

.btn-outline-secondary{
  border: none;
}

.new-post{
  margin: auto;
  font-size: small;
}
.card{
  max-width: 90%;
  min-height: 50vh;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #242830;
  opacity: 0.5;
  border: none;
}

.card:hover {
  transition: 1s;
}

.sign-in{
  color: #e5e5e5 !important;
  padding: 10px;
  font-size:small;
}

.sign-up{
  color: #e5e5e5 !important;
  padding: 10px;
  font-size: small;
}

.sign-in:hover {
  color: #ffffff !important;
}

.sign-up:hover{
  color: #ffffff !important;
}

.cel-title {
  font-size: 2.5em;
  margin: auto;
  padding: 1em;
  color: #242830;
}

.post-links{
  display: block;
  padding: 00.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #edf2fb;
  border-radius: 5px;
}

.post-text{
  padding: 00.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 00.5em;
  margin-bottom: 00.5em;
  background-color: #edf2fb;
  border-radius: 5px;
}

.post-details{
  padding-top: 00.5em;
}

.comment-text-box{
  padding: 00.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 00.5em;
  background-color: #edf2fb;
  border-radius: 5px;
}


.post-tags{
  font-size: medium;
  padding-bottom: 0.5em;
  padding-right: 00.5em;
}

.edit-delete-btns{
  text-align: right;
}

.btn-edit{
  border: none;
  background-color: transparent;
  color: #25a18e;
  cursor: pointer;
}

.btn-edit:hover{
  transition: 0.3s;
  transform: scale(1.1);
}

.btn-delete{
  border: none;
  background-color: transparent;
  color: #ea3546;
  cursor: pointer;
}

.btn-delete:hover{
  transition: 0.3s;
  transform: scale(1.1);
}

.btn-like{
  color: #118ab2;
  cursor: pointer;
}

.btn-like:hover{
  transition: 0.5s;
  color: #003554;
}

