/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 5px;
  width: 100%; 
  background-attachment: fixed; 
  background-color: #ffffff;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: small;
  height: 50px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #242830;
}

.footer a {
  color: #9199a1;
  
}

.footer a:hover {
  color: #e5e5e5;
}


/* Custom page CSS
-------------------------------------------------- */

#content {
  margin-top: 80px;
  margin-bottom: 50px;
  
}

.form-signin {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #edf2f4;
  border: none;
  border-radius: 5px;
}

.form-profile {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-bottom: 80px;
  background-color: #edf2f4;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 10px 5px rgba(0,0,0,0.05)
}

.text-below-form{
  text-align: center;
}

.sign-in-up{
  color: #118ab2;
}

.span-with-margin {
  margin-right: 5px;
}

.link-without-underline {
  text-decoration: none !important;
}

.post {
  max-width: 800px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
}

.f6 {
  font-size: 12px !important;
}

.text-grey {
  color: #9199a1 !important;
}

a {
  color: #242830;
}

a:hover {
  color: #242830;
  text-decoration: none;
  transition: 1s;
}

.bg-inverse{
  background-color: #242830 ;
} 

.badge-info {
  background-color: #ef476f;
}

.card{
  max-width: 90%;
  min-height: 50vh;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #242830;
  opacity: 0.5;
  border: none;

}

.card:hover {
  transition: 1s;
}

.sign-in{
  padding: 10px;
  font-size:medium;
}

.sign-up{
  padding: 10px;
  font-size: medium;
}

.sign-in:hover {
  color: #e5e5e5;
}

.sign-up:hover{
  color: #e5e5e5;
}

.cel-title {
  font-size: 2.5em;
  margin: auto;
  padding: 1em;
  color: #242830;
}


.cell-1{
  background-color: #84a59d ;
  
  transform: scale(0.9);
}

.cell-2{
  background-color: #6d597a !important;
  transform: scale(0.9);
}

.cell-3{
  background-color: #118ab2 !important;
  transform: scale(0.9);
}


.cell-1:hover {
  animation: myAnim 1s ease 0s 1 normal forwards;
  
}

.cell-2:hover {
  animation: myAnim 1s ease 0s 1 normal forwards;
}


.cell-3:hover {
  animation: myAnim 1s ease 0s 1 normal forwards;

}

@keyframes myAnim {
	0% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}
